.airdrop {
  min-height: calc(100vh - 8rem);
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
  padding-top: 12.5rem;
}

.end {
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 9.8125rem;
}

.countDownContent {
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.countDown {
  background: #625FF6;
  border-radius: 10px;
  width: 167px;
  height: 216px;
  margin-right: 39px;
}

.countDownTitle {
  padding: 31px 19px;
}

.countDownText {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

.content {
  padding-top: 15.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rewardsList {
  width: 410px;
  display: flex;
  flex-direction: column;
}

.rewardsValue > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.125rem;
  border-bottom: 1px solid #6B6E80;
}

.rewardsTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.75rem;
  font-size: 1.125rem;
}

.rewardsAction {
  width: 490px;
  margin-left: 100px;
}

.claimCard {
  padding-left: 3px;
  padding-right: 3px;
  height: 336px;
  background: #fff;
  border-radius: 4px;
  color: #24252B;
  text-align: left;
}

.claim {
  padding: 32px 23px;
}

.claimTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.claimDesc {
  font-size: 0.875rem;
  line-height: 20px;
  margin-top: 12px;
}

.claimFrame {
  width: 100%;
  height: 107px;
  border: 1px solid #EBEDFA;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.claimValue {
  padding-top: 24px;
  padding-left: 24px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  color: #CACACA;
}

.claimNum {
  padding-top: 18px;
  padding-left: 24px;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 21px;
  color: #24252B;
}

.tips {
  position: absolute;
  top: 70px;
  right: 48px;
  background: #FFFFFF;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 329px;
  color: #24252B;
}

.switchNetworkTips {
  padding: 21px 20px 0;
}

.switchTitle {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 750px) {
  .countDownContent {
    flex-direction: column;
  }
  .countDown {
    flex: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    padding-top: 5.5rem;
  }
  .rewardsList {
    margin-left: auto;
    margin-right: auto;
  }
  .rewardsAction {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}
