
.button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button > a {
  background: #625FF6;
  border-radius: 4px;
  width: 184px;
  height: 32px;
}

.button > a > div {
  line-height: 22px;
  margin-top: 5px;
  text-align: center;
  color: #DBDBDB;
  font-weight: bold;
  cursor: pointer;
}

.buttonDisabled {
  color: #00000040;
  border-color: #d9d9d9;
  background: #f5f5f5 !important;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed !important;
}

.buttonBlock {
  width: 100% !important;
}

.buttonLarge {
  height: 40px !important;
}

.buttonLargeText {
  line-height: 30px !important;
  margin-top: 5px !important;
}

.loadingIcon {
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  display: inline-block;
  box-sizing: border-box;
}

.iconLoading {
  padding-right: 8px;
  animation: none;
  transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.iconLoading > svg {
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  box-sizing: border-box;
}

.buttonLoading {
  position: relative;
  cursor: default;
}

@-moz-keyframes loadingCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes loadingCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-o-keyframes loadingCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loadingCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

