.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.14rem;
  margin-top: 18px;
  line-height: 24px;
  font-weight: bold;
}

.linkDiscord {
  margin-left: 32px;
}

.connect {
  position: absolute;
  top: 16px;
  right: 2.92rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}


.connectText {
  padding: 5px 16px;
  cursor: pointer;
}

.testNetwork {
  color: #fff;
  display: inline-block;
}


@media (max-width: 750px) {
  .connect {
    display: none;
    position: unset;
  }
}
