
header {
  width: 100%;
  height: 4.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #24252B;
  color: #DBDBDB;
}

main {
  color: #FFFFFF;
  padding-top: 60px;
}

footer {
  color: #FFFFFF;
  height: 4.2rem;
}

.links {
  position: absolute;
  top: 16px;
  left: 2.92rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.14rem;
  margin-top: 2px;
  line-height: 24px;
}

.links > div {
  margin-right: 32px;
}

.connect {
  position: absolute;
  top: 16px;
  right: 2.92rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.connectText {
  padding: 5px 16px;
  cursor: pointer;
}

.testNetwork {
  color: #fff;
  display: inline-block;
}

.tips {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  vertical-align: center;
}

.pageWrapper {
  transform: scale(1);
  background-attachment: fixed;
  background-image: linear-gradient(to top, transparent, transparent), url('../images/bg.jpg');
  background-position: 0 0, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: #FFFFFF;
}

.page {
  background-color: rgba(47,49,61,0.929);
}

@media (max-width: 750px) {
  .connect {
    display: none;
    position: unset;
  }
}
